<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689304516125-4cgnlp1670r1i5ouqfn5dn4j4ah0tkqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689304516125-4cgnlp1670r1i5ouqfn5dn4j4ah0tkqi</string>
	<key>API_KEY</key>
	<string>AIzaSyCHsDVvJXipuGwoQeR5VcJMeAiU19g4eiU</string>
	<key>GCM_SENDER_ID</key>
	<string>689304516125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vallartaApp</string>
	<key>PROJECT_ID</key>
	<string>vallarta-restaurant</string>
	<key>STORAGE_BUCKET</key>
	<string>vallarta-restaurant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689304516125:ios:ba45d2f6cf845cd921f8f4</string>
	<key>DATABASE_URL</key>
	<string>https://vallarta-restaurant-default-rtdb.firebaseio.com</string>
</dict>
</plist>